<div class="col-md-8 col-md-offset-2">
  <h1><%= t ".title" %></h1>
  <h4 class="subject"><%= t ".subject" %>: <%= @mon_hoc.ten %></h4>
  <%= render "form_de_thi", de_thi: @de_thi, mon_hoc: @mon_hoc %>
</div>
