<% cau_hois.each do |cau_hoi| %>
  <div class="panel panel-primary bai-thi-cau-hoi"
    id="bai-thi-cau-hoi-<%= cau_hoi.cau_hoi_id %>" data-id="<%= cau_hoi.cau_hoi_id %>">
    <div class="panel-heading">
      <%= cau_hoi.cau_hoi.noi_dung.html_safe %>
    </div>
    <div class="panel-body">
      <%= render "phuong_ans", phuong_ans: cau_hoi.cau_hoi.phuong_ans %>
    </div>
  </div>
<% end %>
