<% lop_mon_hoc_sinh_viens.each do |lop_mon_hoc_sinh_vien| %>
  <div class="col-md-4 frame">
    <%= image_tag "mon_hoc_default.jpg", size: "250x250" %>
    <h4><%= lop_mon_hoc_sinh_vien.lop_mon_hoc.mon_hoc.ten %></h4>
    <% if lop_mon_hoc_sinh_vien.da_nop %>
      <%= link_to t(".exam"), sv_de_this_path(mon_hoc_id: lop_mon_hoc_sinh_vien.lop_mon_hoc.mon_hoc.id) %>
    <% else %>
      <span class="label label-danger"><%= t ".prohibit" %></span>
    <% end %>
  </div>
<% end %>
