<div class="col-md-4 frame">
  <%= image_tag "de_thi_default.jpg", size: "250x250" %>
  <h4><%= de_thi.tieu_de %></h4>
  <%= link_to t(".start"), sv_bai_this_path(de_thi_id: de_thi.id),
    method: :post, data: {confirm: t(".sure")} %>
</div>
